/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
